{% extends('@smartpage/smartpage.twig') %}

{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ parent() }}

{% endblock %}

{% block content %}
	<section class="logo">Andesite works!</section>
{% endblock %}